@import url(
  'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'
  );


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --branco: #FFFFFF;       /* White */
  --cinza-claro: #D9DDE1;  /* Light Gray */
  --cinza-escuro: #474747; /* Dark Gray */
  --preto: #000000;        /* Black */
  --amarelo: #F9DB79;      /* Yellow / Dourado pastel */
}





